.layout {
  display: flex;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  padding: 1.5rem;
  overflow-x: auto;
}

/* Mobile behavior */
@media (max-width: 768px) {

  .layout {
    flex-direction: row;
  }

  .content-wrapper {
    padding-top: 60px;
  }
}
