.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f9;
}

.card {
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
}
