/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

.container,
.container-fluid {
  max-width: 100%;
}
img, table {
  max-width: 100%;
}

.card {
  word-wrap: break-word;
}

.table td, .table th {
  vertical-align: middle;
}
